---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
interface Props {
    // character:string,
    title: string,
    // line:boolean,
    viewAll: boolean,
    href: string
}

const {title, viewAll, href} = Astro.props;

---

<section class="flex flex-col mt-12 pl-8 pr-8 md:mt-24 lg:pl-32 lg:pr-32 xl:mt-28 xl:pl-36 xl:pr-36 2xl:mt-28 2xl:pl-56 2xl:pr-56">
    <div class="flex items-center justify-between mb-8 md:mb-12 xl:mb-16">
        <div class="flex items-center ">
            <span class="font-medium text-xl text-[#C778DD] md:text-3xl">#</span>
            <h3 class="font-medium mr-4 text-xl md:text-3xl"> { title } </h3>
            <div class="h-[1px] w-14 bg-[#C778DD] md:w-80 xl:w-96 2xl:w-[30rem]"></div>
        </div>
        {viewAll && <a class="font-medium text-base hover:text-[#ABB2BF] md:text-2xl" href={ localizePath(href) } >
            {t("Sections.view")}
        </a>}
    </div>
    <div class="flex flex-wrap gap-4 justify-center lg:gap-8">
        <slot />
    </div>
</section>
